<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dita.kuis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- MainActivity 1 -->
        <activity
            android:name="com.example.dita.kuis.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter> <!-- Unt menampilkan Activity di Awal -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity 2 -->
        <activity
            android:name="com.example.dita.kuis.tampilan1"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>